<% @blogs.each do |blog| %>
  <div class="post-preview">
    <h2 class="post-title"><%= link_to blog.title, blog_path(blog.id) %></h2>
    <h3 class="post-subtitle"><%= blog.content %></h3>
    <p post-meta><%= blog.created_at %></p>
  </div>
<% end %>
